<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-3KWTtNFsKaD2uJH4MT7Lg2n+Z+0+M5FzJU9m2ZEx1fFVxxsYX5tZ6sm8Eiz5WuKkVzio5W2zOloTGg6jW0C2qg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a href="#"><i class="fas fa-user" id="user-image"></i> </a>
</body>
</html>